@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    /* light values */
    --background-light: #f5ead6;
    --primary-light: #f1eae0;
    --secondary-light: #d9c6ab;
    --tertiary-light: #fefefe;
    --text-light: #000000;

    /* initiate light values */
    --background: var(--background-light);
    --primary: var(--primary-light);
    --secondary: var(--secondary-light);
    --tertiary: var(--tertiary-light);
    --text: var(--text-light);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 75px;
}

body {
    color: var(--text);
    background: var(--background);
}

input {
    outline: none;
}

textarea {
    outline: none;
    resize: none;
}

select {
    background-color: transparent;
    cursor: pointer;
    outline: none;
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}

.loading-icon {
    animation: animate 2s infinite;
}

@keyframes animate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(720deg);
    }
}
